@font-face {
    font-family: 'socicon';
    src: url('socicon/font/socicon-webfont.eot');
    src: url('socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('socicon/font/socicon-webfont.woff') format('woff'),
         url('socicon/font/socicon-webfont.ttf') format('truetype'),
         url('socicon/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.socicon {
    font-family: 'socicon' !important;
}

.lead-hello {
	color: #0FB55E;
}

.projects {
	color: #657787;
}

.glyphicon-globe {
	font-size: 800%;
	color: #0FB55E;
}

.navbar {
	color: #0FB55E;
}